# mentor-mentee project, matching
This is the code to deal with the matching of mentor and mentee.

In [1]:
import pandas as pd

## load mentor response data

In [2]:
# import the sheet from google sheet directly

df_mentor_response_raw = pd.read_csv('input/mentor_response.csv')
df_mentor_response_raw = df_mentor_response_raw.fillna('')
df_mentor_response_raw

,Timestamp,Email Address,請輸入導師您的中文姓名,碩班申請導生\n\n如果有碩班申請者 想成為你的導生， 請依意願序，以半形空白分隔，填入願意指導學生的姓名。\n例如：李白 杜甫,博班申請導生\n\n如果有博班申請者 想成為你的導生， 請依意願序，以半形空白分隔，填入願意指導學生的姓名。\n例如：蔡依林 林柏宏 陳奕迅,如有不指導的學生，請提供原因 。例如：申請領域不熟悉、無法收太多學生等等。,mentee_MSc,mentee_PhD,note,check_value,email
0,6/19/2023 2:37:10,,name81,,,,name12,name102 name207,,0.0,mentor0@email.com
1,6/19/2023 2:37:34,,name39,,,,name222 name57,name222,,0.0,mentor1@email.com
2,6/19/2023 2:38:58,,name20,,,,name28,name92,,0.0,mentor2@email.com
3,6/19/2023 2:40:53,,name24,,,,name28,,,0.0,mentor3@email.com
4,6/19/2023 2:43:24,,name85,,,,,name179 name150 name170 name177 name105 name12...,,0.0,mentor4@email.com
...,...,...,...,...,...,...,...,...,...,...,...
114,6/29/2023 17:50:10,,name29,,,,,name154 name176,,0.0,mentor114@email.com
115,6/30/2023 0:35:09,,name183,,,,name70,name225 name214,,1.0,mentor115@email.com
116,6/30/2023 6:29:47,,name101,,,,,name141 name148,,0.0,mentor116@email.com
117,6/30/2023 10:26:58,,name191,,,,name83 name63 name82,,,,mentor117@email.com
118,6/30/2023 17:36:20,,name82,,,,,name229 name116 name135,,,mentor118@email.com

In [3]:
## get needed column only

di_columns = {
  'Email Address': 'email',
  '請輸入導師您的中文姓名': 'name',
  df_mentor_response_raw.columns[3]: 'mentee_MSc_raw',
  df_mentor_response_raw.columns[4]: 'mentee_PhD_raw',
  '如有不指導的學生，請提供原因 。例如：申請領域不熟悉、無法收太多學生等等。': 'reasons'
}

df_mentor_response = df_mentor_response_raw.rename(columns=di_columns)
df_mentor_response = df_mentor_response[['name', 'email', 'mentee_MSc', 'mentee_PhD', 'reasons', 'note']]
df_mentor_response

,name,email,email,mentee_MSc,mentee_PhD,reasons,note
0,name81,,mentor0@email.com,name12,name102 name207,,
1,name39,,mentor1@email.com,name222 name57,name222,,
2,name20,,mentor2@email.com,name28,name92,,
3,name24,,mentor3@email.com,name28,,,
4,name85,,mentor4@email.com,,name179 name150 name170 name177 name105 name12...,,
...,...,...,...,...,...,...,...
114,name29,,mentor114@email.com,,name154 name176,,
115,name183,,mentor115@email.com,name70,name225 name214,,
116,name101,,mentor116@email.com,,name141 name148,,
117,name191,,mentor117@email.com,name83 name63 name82,,,
118,name82,,mentor118@email.com,,name229 name116 name135,,

Load mentor data

In [4]:
df_mentor = pd.read_csv('input/mentor_data.csv')
df_mentor = df_mentor.fillna('')
df_mentor.set_index('name', drop=True, inplace=True)
df_mentor

,mentor_id,email,review_info,capacity_PhD,capacity_MSc,assigned_PhD,assigned_MSc,MSc: no_1,MSc: no_2,MSc: no_3,MSc: no_4,MSc: no_5,PhD: no_1,PhD: no_2,PhD: no_3,PhD: no_4,PhD: no_5,combined_mentor_id,verification_code
name,,,,,,,,,,,,,,,,,,,
name0,A01,mentor0@email.com,True,2,2,4,3,"['M017', 'M056']",,,,['M079'],"['P077', 'P094', 'P126']",,,['P073'],,,
name1,A02,mentor1@email.com,True,6,3,5,2,,"['M017', 'M040']",,,,"['P085', 'P089', 'P133']",,['P060'],,['P051'],,
name2,A03,mentor2@email.com,True,1,0,2,1,,,['M017'],,,,,['P089'],['P091'],,,
name3,A04,mentor3@email.com,False,1,0,1,2,,,,['M017'],['M037'],,,,,['P091'],,
name4,A05,mentor4@email.com,True,1,0,1,3,['M048'],,,,"['M017', 'M053']",['P047'],,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
name200,E31,mentor200@email.com,True,1,0,1,0,,,,,,,,,,['P031'],,
name201,E32,mentor201@email.com,True,2,0,4,2,,,,['M020'],['M047'],['P055'],"['P037', 'P103']",,,['P131'],,
name202,E33,mentor202@email.com,True,3,2,3,7,['M010'],"['M020', 'M047', 'M050']",,,"['M012', 'M014', 'M074']",['P103'],['P055'],,['P049'],,,
name203,E34,mentor203@email.com,True,2,0,1,2,,,"['M020', 'M047']",,,,,['P103'],,,,
name204,E35,mentor204@email.com,True,1,0,4,3,['M047'],,,,"['M006', 'M025']","['P028', 'P037']",,,,"['P027', 'P045']",,

merge response data to mentor data

In [5]:
df_mentor['mentee_response'] = False
df_mentor['response_MSc'] = ''
df_mentor['response_PhD'] = ''

for indx in df_mentor_response.index:
  di_res = df_mentor_response.loc[indx]
  df_mentor.loc[ di_res['name'], 'mentee_response' ] = True
  df_mentor.loc[ di_res['name'], 'response_reasons' ] = di_res['reasons']

In [6]:
## read mentee data
df_mentee = pd.read_csv('input/mentee_data.csv')
df_mentee = df_mentee.fillna('')
df_mentee.set_index('name', drop=True, inplace=True)

df_mentee['mentor'] = ''
df_mentee['match_note'] = ''


df_mentee

,mentee_id,no_1,no_2,no_3,no_4,no_5,degree,mentor_response,email,note,mentor,match_note
name,,,,,,,,,,,,
name0,M001,A08,A43,A49,A26,A67,MSc,,mentee0@email.com,,,
name1,M002,B12,E01,E25,E20,E12,MSc,,mentee1@email.com,,,
name2,M003,A60,A46,A15,A39,E21,MSc,,mentee2@email.com,,,
name3,M004,E20,E18,E01,E12,E25,MSc,,mentee3@email.com,,,
name4,M005,E30,E01,E22,E17,E25,MSc,,mentee4@email.com,,,
...,...,...,...,...,...,...,...,...,...,...,...,...
name229,P142,B56,B19,B06,B03,B04,PhD,,mentee229@email.com,,,
name230,P143,B39,B06,B14,B21,B27,PhD,,mentee230@email.com,,,
name231,P144,C07,C12,C02,C11,C03,PhD,,mentee231@email.com,,,
name232,P145,D08,D04,B37,B08,B23,PhD,,mentee232@email.com,,,
name233,P146,B28,C11,B12,B38,B09,PhD,,mentee233@email.com,,,

In [7]:
## deal with response data; conver to mentee_id

for degree in ['MSc', 'PhD']:

  for indx in df_mentor_response.index:
    di_res = df_mentor_response.loc[indx]
    list_mentee = di_res[f'mentee_{degree}'].split(' ')

    list_mentee_id = []
    for mentee in list_mentee:

      if mentee == '': continue

      if mentee not in df_mentee.index:
        print('warning! in mentor reponse from "{}". cannot find mentee data with name "{}"!'.format(di_res['name'], mentee))
        ## NOTE: need to go back to raw data to check what's wrong, most of case is wrong mentee name!

        s = ''
        for col in df_mentor.columns:
            if f'{degree}:' in col: s += df_mentor.loc[di_res['name'], col] + ' '
        print('list of mentees: ' + s)

      else:
        list_mentee_id.append(df_mentee['mentee_id'].loc[mentee])

    df_mentor.loc[di_res['name'], f'response_{degree}'] = str(list_mentee_id)

In [8]:
df_mentor[['mentor_id', 'verification_code','response_MSc', 'response_PhD']]

,mentor_id,verification_code,response_MSc,response_PhD
name,,,,
name0,A01,,"['P126', 'M056']","['P077', 'P094']"
name1,A02,,[],"['P089', 'P133', 'P060', 'P051']"
name2,A03,,[],"['P089', 'P091']"
name3,A04,,,
name4,A05,,,
...,...,...,...,...
name200,E31,,[],['P031']
name201,E32,,[],"['P055', 'P103']"
name202,E33,,,
name203,E34,,['M047'],['P103']
name204,E35,,[],['P037']

# Matching practice

Reset index of mentor/mentee dataframe

In [9]:
if df_mentee.index.name != 'mentee_id':
  df_mentee.reset_index(inplace=True)
  df_mentee.set_index('mentee_id', drop=True, inplace=True)

if df_mentor.index.name != 'mentor_id':
  df_mentor.reset_index(inplace=True)
  df_mentor.set_index('mentor_id', drop=True, inplace=True)
  df_mentor.sort_index(inplace=True)

df_mentor['mentee_MSc'] = ''
df_mentor['mentee_PhD'] = ''

df_mentor['no_match_MSc'] = 0
df_mentor['no_match_PhD'] = 0

## create a copy of "mentee order of mentor"
create a copy of mentor response or 'wish list of mentors' in a dictionary

both mentors has responded (based on the the mentors' response) and not responded mentors (based on the order from mentees)

NOTE: some mentors put both MSc/PhD mentee (the mentee considers to apply both MSc and PhD programmes) in MSc list, however, to simplify the matching process, those mentees are classified as PhD mentees

In [10]:

import ast

di_mentor_response = {}
di_mentor_response['MSc'] = {}
di_mentor_response['PhD'] = {}

for mentor_id in df_mentor.index:

  ## if mentor has response (select mentees), then copy the order of the mentee
  if df_mentor.loc[mentor_id, 'mentee_response']:
    if df_mentor.loc[mentor_id, 'response_MSc'] != '[]':
      li_msc = ast.literal_eval( df_mentor.loc[mentor_id, 'response_MSc'] )
      # remove PhD mentee from MSc list
      for mentee_id in li_msc:
        if mentee_id[0] == 'P': li_msc.remove(mentee_id)
      if li_msc != []:
        di_mentor_response['MSc'][mentor_id] = li_msc

    if df_mentor.loc[mentor_id, 'response_PhD'] != '[]':
      di_mentor_response['PhD'][mentor_id] = ast.literal_eval( df_mentor.loc[mentor_id, 'response_PhD'] )

  ## if mentor has not selecting mentees, then copy the order from mentee order
  else:
      for degree in ['MSc', 'PhD']:
        li_mentee = []
        for i in range(1,6):
            col = f'{degree}: no_{i}'
            if df_mentor.loc[mentor_id, col] != '': li_mentee += ast.literal_eval( df_mentor.loc[mentor_id, col] )
        if len(li_mentee) > 0:
          di_mentor_response[degree][mentor_id] = li_mentee

In [11]:
di_mentor_response['MSc']

{'A01': ['M056'],
 'A04': ['M017', 'M037'],
 'A05': ['M048', 'M017', 'M053'],
 'A07': ['M052', 'M079', 'M022', 'M056', 'M038'],
 'A08': ['M001', 'M079', 'M085'],
 'A09': ['M069'],
 'A15': ['P073'],
 'A16': ['M038', 'M052', 'M079', 'M056', 'M058'],
 'A18': ['M049'],
 'A20': ['M015', 'M076'],
 'A23': ['M029'],
 'A24': ['M029', 'M072'],
 'A25': ['M029'],
 'A26': ['M076', 'M001', 'M015', 'M029'],
 'A27': ['M029'],
 'A30': ['M058'],
 'A31': ['M038', 'M052'],
 'A33': ['M037', 'M024'],
 'A36': ['M037', 'M067', 'M048'],
 'A38': ['M022', 'M028'],
 'A39': ['M023', 'M003'],
 'A40': ['M082'],
 'A42': ['M058'],
 'A43': ['M015',
  'M028',
  'M042',
  'M045',
  'M053',
  'M059',
  'M076',
  'M001',
  'M009',
  'M024',
  'M072',
  'M027',
  'M054'],
 'A44': ['M069', 'M085', 'M061'],
 'A45': ['M022'],
 'A47': ['M028', 'M018'],
 'A48': ['M024', 'M028'],
 'A49': ['M001', 'M018', 'M054'],
 'A50': ['M054'],
 'A52': ['M009', 'M045', 'M059', 'M072'],
 'A53': ['M009', 'M059'],
 'A54': ['M048', 'M042', 'M061'],
 'A55': ['M082'],
 'A56': ['M067', 'M018'],
 'A58': ['M023'],
 'A59': ['M085', 'M022'],
 'A60': ['M055'],
 'A61': ['M040'],
 'A64': ['M055', 'M082', 'M040', 'M049'],
 'A65': ['M038', 'M040'],
 'A66': ['M015', 'M059'],
 'A67': ['M009', 'M024', 'M054', 'M028', 'M042', 'M076'],
 'B01': ['M034', 'M070', 'M013', 'M035', 'M021'],
 'B06': ['M013', 'M039'],
 'B08': ['M035'],
 'B12': ['M002'],
 'B13': ['M077'],
 'B14': ['M039', 'M075'],
 'B15': ['M088'],
 'B18': ['M013'],
 'B24': ['M008'],
 'B32': ['M021', 'M035'],
 'B34': ['M077', 'M039'],
 'B39': ['M039', 'M010', 'M013'],
 'B41': ['M034'],
 'B42': ['M034'],
 'B48': ['M021', 'M070', 'M080'],
 'B49': ['M080', 'M035'],
 'B55': ['M058', 'M088'],
 'B57': ['M034'],
 'B58': ['M085'],
 'B59': ['M080'],
 'C01': ['M077'],
 'C03': ['M063', 'M075'],
 'C07': ['M063'],
 'C11': ['M034', 'M063'],
 'C14': ['M077'],
 'C17': ['M081'],
 'C28': ['M081', 'M075'],
 'C30': ['M081'],
 'D01': ['M026'],
 'D02': ['M026'],
 'D04': ['M088'],
 'D08': ['M046'],
 'D09': ['M026', 'M041', 'M046', 'M086'],
 'D10': ['M008'],
 'D12': ['M086'],
 'D13': ['M046', 'M041', 'M026'],
 'D18': ['M008'],
 'D22': ['M026', 'M041'],
 'E01': ['M002', 'M036'],
 'E05': ['M033', 'M043', 'M081'],
 'E06': ['M083', 'M070'],
 'E10': ['M043'],
 'E11': ['M016'],
 'E12': ['M066', 'M036', 'M018', 'M073'],
 'E13': ['M071'],
 'E16': ['M075', 'M050', 'M047', 'M057'],
 'E17': ['M005', 'M030'],
 'E18': ['M011',
  'M019',
  'M064',
  'M078',
  'M004',
  'M032',
  'M031',
  'M044',
  'M062',
  'M065',
  'M068',
  'M006',
  'M007',
  'M027',
  'M036',
  'M051',
  'M060',
  'M066',
  'M071',
  'M087',
  'M073',
  'M084'],
 'E19': ['M064', 'M030', 'M071', 'M078'],
 'E20': ['M004',
  'M016',
  'M032',
  'M044',
  'M068',
  'M083',
  'M019',
  'M062',
  'M036',
  'M049',
  'M073',
  'M002',
  'M014',
  'M027',
  'M031',
  'M050',
  'M065',
  'M066',
  'M078',
  'M087'],
 'E21': ['M084', 'M064', 'M083'],
 'E25': ['M007',
  'M073',
  'M074',
  'M011',
  'M014',
  'M030',
  'M060',
  'M065',
  'M068',
  'M002',
  'M006',
  'M012',
  'M032',
  'M066',
  'M019',
  'M031',
  'M062',
  'M004',
  'M005',
  'M033',
  'M051',
  'M064',
  'M071'],
 'E27': ['M050',
  'M084',
  'M007',
  'M012',
  'M043',
  'M060',
  'M010',
  'M033',
  'M020',
  'M057',
  'M062'],
 'E28': ['M033', 'M043'],
 'E29': ['M025', 'M010', 'M027', 'M050', 'M057'],
 'E33': ['M010', 'M020', 'M047', 'M050', 'M012', 'M014', 'M074'],
 'E34': ['M047']}

In [12]:
def select_the_mentor(di_mentee, list_mentors):
  '''return the mentor_id in list_mentors that has highest order'''

  for i in range(1, 6):
    if di_mentee[f'no_{i}'] in list_mentors:
      return di_mentee[f'no_{i}']

  print('Error! Cannot find mentor!')

In [13]:
def show_match_sta(df_mentee ):

  # print out some statistics
  df=df_mentee.loc[df_mentee['degree']==degree]
  print('total {} mentee {}'.format(degree, len(df)))
  df=df.loc[df['mentor']=='']
  print('{} of {} mentees have not match to a mentor.'.format(len(df), degree))

In [14]:
## find the top choice in the copy of response list (di_mentor_response)

def run_matching(select_mentor, di_mentor_response, df_mentee, df_mentor, degree, run):
  '''to find the pair of mentor/mentee in select_mentor list, based on the
     orders in di_mentor_response list'''

  di_match = {}

  ### this code is to generate `di_match[mentee_id]=list(mentor_id)`
  # which stores the list of mentors appointed to the mentee

  for mentor_id in di_mentor_response[degree].keys():

    # skip if not in the select list
    if mentor_id not in select_mentor: continue

    while len(di_mentor_response[degree][mentor_id]) > 0:

      mentee_id = di_mentor_response[degree][mentor_id][0]
      if df_mentee.loc[mentee_id, 'mentor'] != '':
          di_mentor_response[degree][mentor_id].remove(mentee_id)

      else:
          if mentee_id not in di_match.keys(): di_match[ mentee_id ] = []
          di_match[ mentee_id ].append( mentor_id )
          break


  ### based on di_match to find the final match pair
  count=0
  for mentee_id in di_match.keys():

    # if only one mentor appointed, matched!
    if len(di_match[mentee_id]) == 1:
      mentor_id = di_match[mentee_id][0]
      match_note = f'single match, run {run}'

    # if more than one mentor appointed
    else:
      # select the mentor by the order from mentee
      mentor_id = select_the_mentor(df_mentee.loc[mentee_id], di_match[mentee_id])
      match_note = 'select from {}, run {}'.format(len(di_match[mentee_id]), run)

    print(f'mentee {mentee_id} is matched to mentor {mentor_id} by {match_note}')

    # store match data
    df_mentee.loc[mentee_id, 'mentor'] = mentor_id
    df_mentee.loc[mentee_id, 'match_note'] = match_note

    df_mentor.loc[mentor_id, f'mentee_{degree}'] += mentee_id +' '
    df_mentor.loc[mentor_id, f'no_match_{degree}'] += 1

    select_mentor.remove(mentor_id)

    count += 1

  print(f'{count} of mentees are matched in this run.')
  return select_mentor, di_mentor_response, df_mentee, df_mentor, count

function to run multiples search runs

In [15]:
def run_matching_runs(select_mentor, degree, di_mentor_response, df_mentee, df_mentor):

  run = 1

  while True:
    print('\n{} mentors to match at run {}'.format(len(select_mentor), run))

    select_mentor, di_mentor_response, df_mentee, df_mentor, count = run_matching(select_mentor, di_mentor_response, df_mentee, df_mentor, degree, run)
    run += 1

    show_match_sta(df_mentee)
    if count == 0 or run== 10: break

to remove the mentor that reachs max capacity

In [16]:
def check_capacity(select_mentor, degree, df_mentor):
  '''remove the mentor who reaches max capacity from the selecting list'''

  select_mentor_ret = select_mentor.copy()
  for mentor_id in select_mentor:
    no_match = df_mentor.loc[mentor_id, f'no_match_{degree}']
    no_capacity = df_mentor.loc[mentor_id, f'capacity_{degree}']
    # print(f'{mentor_id} no match: {no_match}, {degree} capacity: {no_capacity}')
    if no_match > no_capacity:
      print(f'warning! Mentor {mentor_id} is over {degree} capacity {no_capacity}')

    if no_match == no_capacity:
      print(f'{mentor_id} reaches {degree} capacity {no_capacity}')
      select_mentor_ret.remove(mentor_id)

  return select_mentor_ret

Set capacity to response number

In [17]:

df_mentor['raw_capacity_PhD'] = df_mentor['capacity_PhD']
df_mentor['raw_capacity_MSc'] = df_mentor['capacity_MSc']

for mentor_id in df_mentor.index:
  if df_mentor.loc[mentor_id, 'mentee_response']:

    try: df_mentor.loc[mentor_id, 'capacity_PhD']=len(di_mentor_response['PhD'][mentor_id])
    except: df_mentor.loc[mentor_id, 'capacity_PhD']=0

    try: df_mentor.loc[mentor_id, 'capacity_MSc']=len(di_mentor_response['MSc'][mentor_id])
    except: df_mentor.loc[mentor_id, 'capacity_MSc']=0

## run matching for all mentors

NOTE: this cell can manually run multiple times to increase match no

NOTE 2: Max mentee capacity is now been considered by function `check_capacity`, but it seems not working!?

In [18]:
no_match = len( df_mentee.loc[ df_mentee['mentor']== '' ] )
no_match

234

In [19]:
no_match = len( df_mentee.loc[ df_mentee['mentor']== '' ] )
no_loop = 0

while True:
  print(f'\nrunning loop {no_loop}!')
  for degree in ['MSc', 'PhD']:
    select_mentor = list(df_mentor.index)
    select_mentor = check_capacity(select_mentor, degree, df_mentor)

    run_matching_runs(select_mentor, degree, di_mentor_response, df_mentee, df_mentor)
  if no_match == len( df_mentee.loc[ df_mentee['mentor']== '' ] ): break
  no_match = len( df_mentee.loc[ df_mentee['mentor']== '' ] )
  no_loop += 1

running loop 0!
A02 reaches MSc capacity 0
A03 reaches MSc capacity 0
A04 reaches MSc capacity 0
A05 reaches MSc capacity 0
A06 reaches MSc capacity 0
A08 reaches MSc capacity 0
A10 reaches MSc capacity 0
A11 reaches MSc capacity 0
A12 reaches MSc capacity 0
A14 reaches MSc capacity 0
A19 reaches MSc capacity 0
A22 reaches MSc capacity 0
A28 reaches MSc capacity 0
A29 reaches MSc capacity 0
A32 reaches MSc capacity 0
A34 reaches MSc capacity 0
A35 reaches MSc capacity 0
A37 reaches MSc capacity 0
A41 reaches MSc capacity 0
A44 reaches MSc capacity 0
A46 reaches MSc capacity 0
A51 reaches MSc capacity 0
A57 reaches MSc capacity 0
B02 reaches MSc capacity 0
B03 reaches MSc capacity 0
B04 reaches MSc capacity 0
B05 reaches MSc capacity 0
B07 reaches MSc capacity 0
B09 reaches MSc capacity 0
B10 reaches MSc capacity 0
B11 reaches MSc capacity 0
B15 reaches MSc capacity 0
B16 reaches MSc capacity 0
B17 reaches MSc capacity 0
B19 reaches MSc capacity 0
B20 reaches MSc capacity 0
B21 reaches MSc capacity 0
B23 reaches MSc capacity 0
B27 reaches MSc capacity 0
B28 reaches MSc capacity 0
B29 reaches MSc capacity 0
B30 reaches MSc capacity 0
B31 reaches MSc capacity 0
B36 reaches MSc capacity 0
B37 reaches MSc capacity 0
B38 reaches MSc capacity 0
B40 reaches MSc capacity 0
B43 reaches MSc capacity 0
B44 reaches MSc capacity 0
B45 reaches MSc capacity 0
B46 reaches MSc capacity 0
B47 reaches MSc capacity 0
B50 reaches MSc capacity 0
B51 reaches MSc capacity 0
B53 reaches MSc capacity 0
B54 reaches MSc capacity 0
B56 reaches MSc capacity 0
C02 reaches MSc capacity 0
C05 reaches MSc capacity 0
C06 reaches MSc capacity 0
C08 reaches MSc capacity 0
C09 reaches MSc capacity 0
C10 reaches MSc capacity 0
C11 reaches MSc capacity 0
C12 reaches MSc capacity 0
C13 reaches MSc capacity 0
C15 reaches MSc capacity 0
C16 reaches MSc capacity 0
C19 reaches MSc capacity 0
C20 reaches MSc capacity 0
C21 reaches MSc capacity 0
C22 reaches MSc capacity 0
C25 reaches MSc capacity 0
C27 reaches MSc capacity 0
C29 reaches MSc capacity 0
D03 reaches MSc capacity 0
D04 reaches MSc capacity 0
D05 reaches MSc capacity 0
D06 reaches MSc capacity 0
D07 reaches MSc capacity 0
D11 reaches MSc capacity 0
D15 reaches MSc capacity 0
D16 reaches MSc capacity 0
D20 reaches MSc capacity 0
D21 reaches MSc capacity 0
E02 reaches MSc capacity 0
E03 reaches MSc capacity 0
E04 reaches MSc capacity 0
E07 reaches MSc capacity 0
E08 reaches MSc capacity 0
E09 reaches MSc capacity 0
E11 reaches MSc capacity 0
E17 reaches MSc capacity 0
E19 reaches MSc capacity 0
E22 reaches MSc capacity 0
E23 reaches MSc capacity 0
E26 reaches MSc capacity 0
E30 reaches MSc capacity 0
E31 reaches MSc capacity 0
E32 reaches MSc capacity 0
E35 reaches MSc capacity 0

104 mentors to match at run 1
mentee M056 is matched to mentor A01 by single match, run 1
mentee M052 is matched to mentor A07 by single match, run 1
mentee M069 is matched to mentor A09 by single match, run 1
mentee P073 is matched to mentor A15 by single match, run 1
mentee M038 is matched to mentor A16 by select from 3, run 1
mentee M049 is matched to mentor A18 by single match, run 1
mentee M015 is matched to mentor A43 by select from 3, run 1
mentee M029 is matched to mentor A25 by select from 4, run 1
mentee M076 is matched to mentor A26 by single match, run 1
mentee M058 is matched to mentor A30 by select from 3, run 1
mentee M037 is matched to mentor A36 by select from 2, run 1
mentee M022 is matched to mentor A45 by select from 2, run 1
mentee M023 is matched to mentor A39 by select from 2, run 1
mentee M082 is matched to mentor A55 by select from 2, run 1
mentee M028 is matched to mentor A47 by single match, run 1
mentee M024 is matched to mentor A48 by single match, run 1
mentee M001 is matched to mentor A49 by single match, run 1
mentee M054 is matched to mentor A50 by single match, run 1
mentee M009 is matched to mentor A67 by select from 3, run 1
mentee M048 is matched to mentor A54 by single match, run 1
mentee M067 is matched to mentor A56 by single match, run 1
mentee M085 is matched to mentor A59 by select from 2, run 1
mentee M055 is matched to mentor A60 by select from 2, run 1
mentee M040 is matched to mentor A61 by single match, run 1
mentee M034 is matched to mentor B01 by select from 4, run 1
mentee M013 is matched to mentor B06 by select from 2, run 1
mentee M035 is matched to mentor B08 by single match, run 1
mentee M002 is matched to mentor B12 by select from 2, run 1
mentee M077 is matched to mentor C14 by select from 4, run 1
mentee M039 is matched to mentor B39 by select from 2, run 1
mentee M008 is matched to mentor D18 by select from 3, run 1
mentee M021 is matched to mentor B32 by select from 2, run 1
mentee M080 is matched to mentor B59 by select from 2, run 1
mentee M063 is matched to mentor C07 by select from 2, run 1
mentee M081 is matched to mentor C28 by select from 3, run 1
mentee M026 is matched to mentor D09 by select from 4, run 1
mentee M046 is matched to mentor D13 by select from 2, run 1
mentee M086 is matched to mentor D12 by single match, run 1
mentee M033 is matched to mentor E28 by select from 2, run 1
mentee M083 is matched to mentor E06 by single match, run 1
mentee M043 is matched to mentor E10 by single match, run 1
mentee M066 is matched to mentor E12 by single match, run 1
mentee M071 is matched to mentor E13 by single match, run 1
mentee M075 is matched to mentor E16 by single match, run 1
mentee M011 is matched to mentor E18 by single match, run 1
mentee M004 is matched to mentor E20 by single match, run 1
mentee M084 is matched to mentor E21 by single match, run 1
mentee M007 is matched to mentor E25 by single match, run 1
mentee M050 is matched to mentor E27 by single match, run 1
mentee M025 is matched to mentor E29 by single match, run 1
mentee M010 is matched to mentor E33 by single match, run 1
mentee M047 is matched to mentor E34 by single match, run 1
52 of mentees are matched in this run.
total MSc mentee 88
37 of MSc mentees have not match to a mentor.

52 mentors to match at run 2
mentee M072 is matched to mentor A24 by single match, run 2
mentee M045 is matched to mentor A52 by single match, run 2
mentee M059 is matched to mentor A66 by select from 2, run 2
mentee M070 is matched to mentor B48 by single match, run 2
mentee M088 is matched to mentor B55 by single match, run 2
mentee M041 is matched to mentor D22 by single match, run 2
mentee M036 is matched to mentor E01 by single match, run 2
7 of mentees are matched in this run.
total MSc mentee 88
30 of MSc mentees have not match to a mentor.

45 mentors to match at run 3
0 of mentees are matched in this run.
total MSc mentee 88
30 of MSc mentees have not match to a mentor.
A16 reaches PhD capacity 0
A22 reaches PhD capacity 0
A25 reaches PhD capacity 0
A27 reaches PhD capacity 0
A38 reaches PhD capacity 0
A41 reaches PhD capacity 0
A43 reaches PhD capacity 0
A46 reaches PhD capacity 0
A48 reaches PhD capacity 0
A50 reaches PhD capacity 0
A60 reaches PhD capacity 0
A67 reaches PhD capacity 0
B01 reaches PhD capacity 0
B02 reaches PhD capacity 0
B34 reaches PhD capacity 0
B47 reaches PhD capacity 0
B49 reaches PhD capacity 0
B58 reaches PhD capacity 0
C01 reaches PhD capacity 0
D22 reaches PhD capacity 0
E15 reaches PhD capacity 0
E21 reaches PhD capacity 0

183 mentors to match at run 1
mentee P077 is matched to mentor A01 by single match, run 1
mentee P089 is matched to mentor A02 by select from 2, run 1
mentee P091 is matched to mentor A52 by select from 4, run 1
mentee P047 is matched to mentor A05 by select from 3, run 1
mentee P128 is matched to mentor A06 by single match, run 1
mentee P017 is matched to mentor A07 by single match, run 1
mentee P058 is matched to mentor A12 by select from 2, run 1
mentee P003 is matched to mentor A09 by single match, run 1
mentee P033 is matched to mentor A10 by single match, run 1
mentee P075 is matched to mentor A11 by single match, run 1
mentee P011 is matched to mentor A13 by select from 2, run 1
mentee P126 is matched to mentor A14 by single match, run 1
mentee P080 is matched to mentor A15 by select from 3, run 1
mentee P109 is matched to mentor A39 by select from 2, run 1
mentee P051 is matched to mentor A19 by select from 2, run 1
mentee P113 is matched to mentor A20 by single match, run 1
mentee P005 is matched to mentor A26 by select from 3, run 1
mentee P065 is matched to mentor A30 by select from 3, run 1
mentee P067 is matched to mentor A32 by select from 2, run 1
mentee P069 is matched to mentor A33 by single match, run 1
mentee P101 is matched to mentor E17 by select from 2, run 1
mentee P043 is matched to mentor A37 by select from 2, run 1
mentee P133 is matched to mentor A62 by select from 2, run 1
mentee P135 is matched to mentor D13 by select from 2, run 1
mentee P016 is matched to mentor A56 by select from 2, run 1
mentee P060 is matched to mentor A55 by select from 2, run 1
mentee P009 is matched to mentor E18 by select from 2, run 1
mentee P140 is matched to mentor A66 by single match, run 1
mentee P046 is matched to mentor B03 by single match, run 1
mentee P136 is matched to mentor B54 by select from 2, run 1
mentee P099 is matched to mentor B05 by single match, run 1
mentee P143 is matched to mentor B06 by single match, run 1
mentee P040 is matched to mentor B07 by single match, run 1
mentee P072 is matched to mentor B31 by select from 2, run 1
mentee P024 is matched to mentor D18 by select from 4, run 1
mentee P034 is matched to mentor B10 by select from 2, run 1
mentee P023 is matched to mentor B20 by select from 3, run 1
mentee P002 is matched to mentor B12 by single match, run 1
mentee P029 is matched to mentor B13 by single match, run 1
mentee P090 is matched to mentor B15 by single match, run 1
mentee P021 is matched to mentor B16 by single match, run 1
mentee P022 is matched to mentor B17 by single match, run 1
mentee P015 is matched to mentor B18 by select from 3, run 1
mentee P142 is matched to mentor B56 by select from 2, run 1
mentee P134 is matched to mentor B21 by select from 2, run 1
mentee P092 is matched to mentor B23 by single match, run 1
mentee P048 is matched to mentor B26 by select from 3, run 1
mentee P121 is matched to mentor B27 by single match, run 1
mentee P146 is matched to mentor B28 by single match, run 1
mentee P032 is matched to mentor B30 by select from 2, run 1
mentee P137 is matched to mentor B32 by single match, run 1
mentee P010 is matched to mentor B59 by select from 2, run 1
mentee P145 is matched to mentor D08 by select from 2, run 1
mentee P063 is matched to mentor B38 by single match, run 1
mentee P120 is matched to mentor B39 by single match, run 1
mentee P054 is matched to mentor B40 by single match, run 1
mentee P130 is matched to mentor D16 by select from 2, run 1
mentee P042 is matched to mentor B42 by single match, run 1
mentee P070 is matched to mentor B43 by single match, run 1
mentee P123 is matched to mentor B45 by select from 2, run 1
mentee P107 is matched to mentor B46 by single match, run 1
mentee P111 is matched to mentor B48 by single match, run 1
mentee P019 is matched to mentor B55 by single match, run 1
mentee P056 is matched to mentor C02 by select from 2, run 1
mentee P012 is matched to mentor C05 by select from 3, run 1
mentee P036 is matched to mentor C07 by single match, run 1
mentee P053 is matched to mentor E08 by select from 2, run 1
mentee P095 is matched to mentor C09 by single match, run 1
mentee P119 is matched to mentor C11 by select from 2, run 1
mentee P144 is matched to mentor C12 by single match, run 1
mentee P096 is matched to mentor C13 by single match, run 1
mentee P030 is matched to mentor C14 by single match, run 1
mentee P055 is matched to mentor E32 by select from 3, run 1
mentee P124 is matched to mentor C18 by single match, run 1
mentee P088 is matched to mentor E09 by select from 2, run 1
mentee P139 is matched to mentor C28 by select from 2, run 1
mentee P117 is matched to mentor C21 by single match, run 1
mentee P059 is matched to mentor C22 by select from 2, run 1
mentee P112 is matched to mentor C27 by select from 2, run 1
mentee P102 is matched to mentor C25 by single match, run 1
mentee P106 is matched to mentor C29 by single match, run 1
mentee P118 is matched to mentor C30 by select from 2, run 1
mentee P038 is matched to mentor D01 by single match, run 1
mentee P098 is matched to mentor D02 by single match, run 1
mentee P141 is matched to mentor D09 by select from 2, run 1
mentee P018 is matched to mentor D04 by single match, run 1
mentee P110 is matched to mentor D05 by single match, run 1
mentee P026 is matched to mentor D06 by single match, run 1
mentee P074 is matched to mentor D07 by single match, run 1
mentee P064 is matched to mentor D11 by single match, run 1
mentee P020 is matched to mentor D12 by single match, run 1
mentee P068 is matched to mentor D17 by single match, run 1
mentee P014 is matched to mentor D20 by single match, run 1
mentee P079 is matched to mentor D21 by single match, run 1
mentee P125 is matched to mentor E01 by select from 2, run 1
mentee P062 is matched to mentor E02 by single match, run 1
mentee P131 is matched to mentor E03 by single match, run 1
mentee P105 is matched to mentor E04 by single match, run 1
mentee P114 is matched to mentor E05 by select from 3, run 1
mentee P045 is matched to mentor E06 by single match, run 1
mentee P027 is matched to mentor E07 by single match, run 1
mentee P031 is matched to mentor E11 by select from 2, run 1
mentee P127 is matched to mentor E12 by select from 2, run 1
mentee P138 is matched to mentor E13 by single match, run 1
mentee P100 is matched to mentor E14 by single match, run 1
mentee P104 is matched to mentor E19 by single match, run 1
mentee P087 is matched to mentor E20 by single match, run 1
mentee P078 is matched to mentor E22 by single match, run 1
mentee P081 is matched to mentor E25 by single match, run 1
mentee P093 is matched to mentor E26 by single match, run 1
mentee P076 is matched to mentor E27 by single match, run 1
mentee P115 is matched to mentor E28 by select from 2, run 1
mentee P103 is matched to mentor E33 by select from 2, run 1
mentee P037 is matched to mentor E35 by single match, run 1
114 of mentees are matched in this run.
total PhD mentee 146
31 of PhD mentees have not match to a mentor.

69 mentors to match at run 2
mentee P094 is matched to mentor A40 by select from 2, run 2
mentee P008 is matched to mentor A58 by single match, run 2
mentee P006 is matched to mentor B04 by select from 2, run 2
mentee P082 is matched to mentor B53 by single match, run 2
mentee P129 is matched to mentor C10 by single match, run 2
mentee P057 is matched to mentor D03 by single match, run 2
mentee P108 is matched to mentor D15 by single match, run 2
mentee P085 is matched to mentor E16 by single match, run 2
mentee P028 is matched to mentor E29 by select from 2, run 2
9 of mentees are matched in this run.
total PhD mentee 146
22 of PhD mentees have not match to a mentor.

60 mentors to match at run 3
mentee P132 is matched to mentor E30 by single match, run 3
1 of mentees are matched in this run.
total PhD mentee 146
21 of PhD mentees have not match to a mentor.

59 mentors to match at run 4
0 of mentees are matched in this run.
total PhD mentee 146
21 of PhD mentees have not match to a mentor.

running loop 1!
A01 reaches MSc capacity 1
A02 reaches MSc capacity 0
A03 reaches MSc capacity 0
A04 reaches MSc capacity 0
A05 reaches MSc capacity 0
A06 reaches MSc capacity 0
A08 reaches MSc capacity 0
A10 reaches MSc capacity 0
A11 reaches MSc capacity 0
A12 reaches MSc capacity 0
A14 reaches MSc capacity 0
A15 reaches MSc capacity 1
A18 reaches MSc capacity 1
A19 reaches MSc capacity 0
A22 reaches MSc capacity 0
A25 reaches MSc capacity 1
A28 reaches MSc capacity 0
A29 reaches MSc capacity 0
A30 reaches MSc capacity 1
A32 reaches MSc capacity 0
A34 reaches MSc capacity 0
A35 reaches MSc capacity 0
A37 reaches MSc capacity 0
A41 reaches MSc capacity 0
A43 reaches MSc capacity 1
A44 reaches MSc capacity 0
A45 reaches MSc capacity 1
A46 reaches MSc capacity 0
A50 reaches MSc capacity 1
A51 reaches MSc capacity 0
A54 reaches MSc capacity 1
A55 reaches MSc capacity 1
A57 reaches MSc capacity 0
A59 reaches MSc capacity 1
A60 reaches MSc capacity 1
A61 reaches MSc capacity 1
B02 reaches MSc capacity 0
B03 reaches MSc capacity 0
B04 reaches MSc capacity 0
B05 reaches MSc capacity 0
B07 reaches MSc capacity 0
B08 reaches MSc capacity 1
B09 reaches MSc capacity 0
B10 reaches MSc capacity 0
B11 reaches MSc capacity 0
B12 reaches MSc capacity 1
B15 reaches MSc capacity 0
B16 reaches MSc capacity 0
B17 reaches MSc capacity 0
B19 reaches MSc capacity 0
B20 reaches MSc capacity 0
B21 reaches MSc capacity 0
B23 reaches MSc capacity 0
B27 reaches MSc capacity 0
B28 reaches MSc capacity 0
B29 reaches MSc capacity 0
B30 reaches MSc capacity 0
B31 reaches MSc capacity 0
B36 reaches MSc capacity 0
B37 reaches MSc capacity 0
B38 reaches MSc capacity 0
B40 reaches MSc capacity 0
B43 reaches MSc capacity 0
B44 reaches MSc capacity 0
B45 reaches MSc capacity 0
B46 reaches MSc capacity 0
B47 reaches MSc capacity 0
B50 reaches MSc capacity 0
B51 reaches MSc capacity 0
B53 reaches MSc capacity 0
B54 reaches MSc capacity 0
B55 reaches MSc capacity 1
B56 reaches MSc capacity 0
B59 reaches MSc capacity 1
C02 reaches MSc capacity 0
C05 reaches MSc capacity 0
C06 reaches MSc capacity 0
C07 reaches MSc capacity 1
C08 reaches MSc capacity 0
C09 reaches MSc capacity 0
C10 reaches MSc capacity 0
C11 reaches MSc capacity 0
C12 reaches MSc capacity 0
C13 reaches MSc capacity 0
C14 reaches MSc capacity 1
C15 reaches MSc capacity 0
C16 reaches MSc capacity 0
C19 reaches MSc capacity 0
C20 reaches MSc capacity 0
C21 reaches MSc capacity 0
C22 reaches MSc capacity 0
C25 reaches MSc capacity 0
C27 reaches MSc capacity 0
C28 reaches MSc capacity 1
C29 reaches MSc capacity 0
D03 reaches MSc capacity 0
D04 reaches MSc capacity 0
D05 reaches MSc capacity 0
D06 reaches MSc capacity 0
D07 reaches MSc capacity 0
D11 reaches MSc capacity 0
D12 reaches MSc capacity 1
D13 reaches MSc capacity 1
D15 reaches MSc capacity 0
D16 reaches MSc capacity 0
D18 reaches MSc capacity 1
D20 reaches MSc capacity 0
D21 reaches MSc capacity 0
E02 reaches MSc capacity 0
E03 reaches MSc capacity 0
E04 reaches MSc capacity 0
E07 reaches MSc capacity 0
E08 reaches MSc capacity 0
E09 reaches MSc capacity 0
E10 reaches MSc capacity 1
E11 reaches MSc capacity 0
E13 reaches MSc capacity 1
E17 reaches MSc capacity 0
E19 reaches MSc capacity 0
E22 reaches MSc capacity 0
E23 reaches MSc capacity 0
E25 reaches MSc capacity 1
E26 reaches MSc capacity 0
E30 reaches MSc capacity 0
E31 reaches MSc capacity 0
E32 reaches MSc capacity 0
E34 reaches MSc capacity 1
E35 reaches MSc capacity 0

77 mentors to match at run 1
mentee M079 is matched to mentor A07 by select from 2, run 1
mentee M003 is matched to mentor A39 by single match, run 1
mentee M018 is matched to mentor E12 by select from 4, run 1
mentee M042 is matched to mentor A67 by single match, run 1
mentee M057 is matched to mentor E16 by single match, run 1
mentee M019 is matched to mentor E18 by single match, run 1
mentee M016 is matched to mentor E20 by single match, run 1
mentee M064 is matched to mentor E21 by single match, run 1
mentee M012 is matched to mentor E27 by single match, run 1
mentee M027 is matched to mentor E29 by single match, run 1
mentee M020 is matched to mentor E33 by single match, run 1
11 of mentees are matched in this run.
total MSc mentee 88
19 of MSc mentees have not match to a mentor.

66 mentors to match at run 2
0 of mentees are matched in this run.
total MSc mentee 88
19 of MSc mentees have not match to a mentor.
A05 reaches PhD capacity 1
A10 reaches PhD capacity 1
A11 reaches PhD capacity 1
A13 reaches PhD capacity 1
A16 reaches PhD capacity 0
A20 reaches PhD capacity 1
A22 reaches PhD capacity 0
A25 reaches PhD capacity 0
A27 reaches PhD capacity 0

# show results

In [20]:

# reduce columns numbers
di_cols = list(df_mentor.columns)
for col in ['email', 'review_info', 'assigned_PhD', 'assigned_MSc', 'combined_mentor_id', 'verification_code']:
  di_cols.remove(col)

df_mentor[di_cols]

,name,capacity_PhD,capacity_MSc,MSc: no_1,MSc: no_2,MSc: no_3,MSc: no_4,MSc: no_5,PhD: no_1,PhD: no_2,...,mentee_response,response_MSc,response_PhD,response_reasons,mentee_MSc,mentee_PhD,no_match_MSc,no_match_PhD,raw_capacity_PhD,raw_capacity_MSc
mentor_id,,,,,,,,,,,,,,,,,,,,,
A01,name0,2,1,"['M017', 'M056']",,,,['M079'],"['P077', 'P094', 'P126']",,...,True,"['P126', 'M056']","['P077', 'P094']",,M056,P077,1,1,2,2
A02,name1,4,0,,"['M017', 'M040']",,,,"['P085', 'P089', 'P133']",,...,True,[],"['P089', 'P133', 'P060', 'P051']",,,P089,0,1,6,3
A03,name2,2,0,,,['M017'],,,,,...,True,[],"['P089', 'P091']",,,,0,0,1,0
A04,name3,1,0,,,,['M017'],['M037'],,,...,False,,,NaN,,,0,0,1,0
A05,name4,1,0,['M048'],,,,"['M017', 'M053']",['P047'],,...,False,,,NaN,,P047,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
E31,name200,1,0,,,,,,,,...,True,[],['P031'],,,,0,0,1,0
E32,name201,2,0,,,,['M020'],['M047'],['P055'],"['P037', 'P103']",...,True,[],"['P055', 'P103']",,,P055,0,1,2,0
E33,name202,3,2,['M010'],"['M020', 'M047', 'M050']",,,"['M012', 'M014', 'M074']",['P103'],['P055'],...,False,,,NaN,M010 M020,P103 P049,2,2,3,2
E34,name203,1,1,,,"['M020', 'M047']",,,,,...,True,['M047'],['P103'],,M047,,1,0,2,0
E35,name204,1,0,['M047'],,,,"['M006', 'M025']","['P028', 'P037']",,...,True,[],['P037'],,,P037,0,1,1,0

## matched mentees

In [21]:
df_mentee.loc[ df_mentee['mentor']!='' ]

,name,no_1,no_2,no_3,no_4,no_5,degree,mentor_response,email,note,mentor,match_note
mentee_id,,,,,,,,,,,,
M001,name0,A08,A43,A49,A26,A67,MSc,,mentee0@email.com,,A49,"single match, run 1"
M002,name1,B12,E01,E25,E20,E12,MSc,,mentee1@email.com,,B12,"select from 2, run 1"
M003,name2,A60,A46,A15,A39,E21,MSc,,mentee2@email.com,,A39,"single match, run 1"
M004,name3,E20,E18,E01,E12,E25,MSc,,mentee3@email.com,,E20,"single match, run 1"
M007,name6,E25,E27,E29,E18,E01,MSc,,mentee6@email.com,,E25,"single match, run 1"
...,...,...,...,...,...,...,...,...,...,...,...,...
P142,name229,B56,B19,B06,B03,B04,PhD,,mentee229@email.com,,B56,"select from 2, run 1"
P143,name230,B39,B06,B14,B21,B27,PhD,,mentee230@email.com,,B06,"single match, run 1"
P144,name231,C07,C12,C02,C11,C03,PhD,,mentee231@email.com,,C12,"single match, run 1"
P145,name232,D08,D04,B37,B08,B23,PhD,,mentee232@email.com,,D08,"select from 2, run 1"
P146,name233,B28,C11,B12,B38,B09,PhD,,mentee233@email.com,,B28,"single match, run 1"

## unmatched mentees

In [22]:
df_mentee.loc[ df_mentee['mentor']=='' ]

,name,no_1,no_2,no_3,no_4,no_5,degree,mentor_response,email,note,mentor,match_note
mentee_id,,,,,,,,,,,,
M005,name4,E30,E01,E22,E17,E25,MSc,,mentee4@email.com,,,
M006,name5,E30,E22,E25,E18,E35,MSc,,mentee5@email.com,,,
M017,name16,A01,A02,A03,A04,A05,MSc,He said he needs guidance on GRE study classes...,mentee16@email.com,,,
M030,name29,E01,E25,E19,E22,E17,MSc,,mentee29@email.com,,,
M051,name50,E01,E12,E13,E18,E25,MSc,,mentee50@email.com,,,
M053,name52,A43,A67,A42,A66,A05,MSc,,mentee52@email.com,,,
M061,name60,A22,A57,A18,A44,A54,MSc,,mentee60@email.com,,,
M074,name73,E25,E29,E01,E12,E33,MSc,,mentee73@email.com,,,
M087,name86,E21,E12,E13,E18,E20,MSc,,mentee86@email.com,,,
P041,name128,B40,D04,B45,B12,D06,PhD,,mentee128@email.com,,,
P044,name131,B40,B59,B12,B43,B30,PhD,,mentee131@email.com,,,

In [23]:

## export to csv fes
df_mentor.to_csv('output/mentor_matched.csv', encoding='utf_8_sig')
df_mentee.to_csv('output/mentee_matched.csv', encoding='utf_8_sig')

In [24]:
df_mentor.columns

Index(['name', 'email', 'review_info', 'capacity_PhD', 'capacity_MSc',
       'assigned_PhD', 'assigned_MSc', 'MSc: no_1', 'MSc: no_2', 'MSc: no_3',
       'MSc: no_4', 'MSc: no_5', 'PhD: no_1', 'PhD: no_2', 'PhD: no_3',
       'PhD: no_4', 'PhD: no_5', 'combined_mentor_id', 'verification_code',
       'mentee_response', 'response_MSc', 'response_PhD', 'response_reasons',
       'mentee_MSc', 'mentee_PhD', 'no_match_MSc', 'no_match_PhD',
       'raw_capacity_PhD', 'raw_capacity_MSc'],
      dtype='object')

# release 1st-run matched mentor-mentee results

## check over capacity

In [25]:
## mark over capacity data

df_mentor['over_capacity'] = False

for indx in df_mentor.index:
  di_mentor = df_mentor.loc[indx]
  for degree in ['MSc', 'PhD']:

    if di_mentor[f'no_match_{degree}'] > di_mentor[f'raw_capacity_{degree}']:
      df_mentor.loc[indx, 'over_capacity'] = True
df_mentor

,name,email,review_info,capacity_PhD,capacity_MSc,assigned_PhD,assigned_MSc,MSc: no_1,MSc: no_2,MSc: no_3,...,response_MSc,response_PhD,response_reasons,mentee_MSc,mentee_PhD,no_match_MSc,no_match_PhD,raw_capacity_PhD,raw_capacity_MSc,over_capacity
mentor_id,,,,,,,,,,,,,,,,,,,,,
A01,name0,mentor0@email.com,True,2,1,4,3,"['M017', 'M056']",,,...,"['P126', 'M056']","['P077', 'P094']",,M056,P077,1,1,2,2,False
A02,name1,mentor1@email.com,True,4,0,5,2,,"['M017', 'M040']",,...,[],"['P089', 'P133', 'P060', 'P051']",,,P089,0,1,6,3,False
A03,name2,mentor2@email.com,True,2,0,2,1,,,['M017'],...,[],"['P089', 'P091']",,,,0,0,1,0,False
A04,name3,mentor3@email.com,False,1,0,1,2,,,,...,,,NaN,,,0,0,1,0,False
A05,name4,mentor4@email.com,True,1,0,1,3,['M048'],,,...,,,NaN,,P047,0,1,1,0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
E31,name200,mentor200@email.com,True,1,0,1,0,,,,...,[],['P031'],,,,0,0,1,0,False
E32,name201,mentor201@email.com,True,2,0,4,2,,,,...,[],"['P055', 'P103']",,,P055,0,1,2,0,False
E33,name202,mentor202@email.com,True,3,2,3,7,['M010'],"['M020', 'M047', 'M050']",,...,,,NaN,M010 M020,P103 P049,2,2,3,2,False
E34,name203,mentor203@email.com,True,1,1,1,2,,,"['M020', 'M047']",...,['M047'],['P103'],,M047,,1,0,2,0,True
E35,name204,mentor204@email.com,True,1,0,4,3,['M047'],,,...,[],['P037'],,,P037,0,1,1,0,False

In [26]:
## show over capacity mentor

df_mentor.loc[ df_mentor['over_capacity'] == True ]

,name,email,review_info,capacity_PhD,capacity_MSc,assigned_PhD,assigned_MSc,MSc: no_1,MSc: no_2,MSc: no_3,...,response_MSc,response_PhD,response_reasons,mentee_MSc,mentee_PhD,no_match_MSc,no_match_PhD,raw_capacity_PhD,raw_capacity_MSc,over_capacity
mentor_id,,,,,,,,,,,,,,,,,,,,,
A36,name33,mentor33@email.com,True,4,3,4,3,"['M037', 'M067']",['M048'],,...,"['M037', 'M067', 'M048']","['P043', 'P047', 'P109', 'P101']",,M037,,1,0,3,0,True
B23,name85,mentor85@email.com,True,9,0,8,1,,,,...,[],"['P092', 'P063', 'P083', 'P090', 'P018', 'M013...",,,P092 P083,0,2,1,1,True
B42,name103,mentor103@email.com,True,5,1,11,2,,,['M034'],...,['M034'],"['P042', 'P130', 'P052', 'P129', 'P032']",,,P042 P052,0,2,1,0,True
C07,name127,mentor127@email.com,True,2,1,4,1,['M063'],,,...,['M063'],"['P036', 'P144']",,M063,P036,1,1,2,0,True
D12,name161,mentor161@email.com,True,3,1,4,1,,['M086'],,...,['M086'],"['P020', 'P097', 'P074']",,M086,P020 P097,1,2,1,1,True
E07,name177,mentor177@email.com,True,2,0,6,0,,,,...,[],"['P027', 'P050']",,,P027 P050,0,2,1,0,True
E34,name203,mentor203@email.com,True,1,1,1,2,,,"['M020', 'M047']",...,['M047'],['P103'],,M047,,1,0,2,0,True

In [27]:
## generate verification code 2 for mentor

if True: # Warning! do not greate new verification code again after 1st is used!!
  import random
  import string

  def generate_verification_code(length):
      characters = string.ascii_letters + string.digits
      return ''.join(random.choice(characters) for _ in range(length))

  mentors_table = df_mentor.reset_index()
  mentors_table["verification_code2"] = mentors_table["combined_mentor_id"].apply(lambda x: generate_verification_code(10))

  # with verification code
  mentors_table = mentors_table.loc[ mentors_table['no_match_MSc'] + mentors_table['no_match_PhD'] != 0 ]
  mentors_table.to_csv('output/mentor_matched_run1.csv', index=False, encoding='utf_8_sig')
  mentors_table

## produce mentee data

In [28]:
## load previous mentee data
# manually match A20 and P115

df_mentee = pd.read_csv('output/mentee_matched.csv')
df_mentee = df_mentee.fillna('')

df_mentee.set_index('mentee_id', inplace=True)
df_mentee.loc['P113', 'mentor'] = 'A20'
df_mentee.loc['P113', 'match_note'] = 'manually match with A20'

df_mentee

,name,no_1,no_2,no_3,no_4,no_5,degree,mentor_response,email,note,mentor,match_note
mentee_id,,,,,,,,,,,,
M001,name0,A08,A43,A49,A26,A67,MSc,,mentee0@email.com,,A49,"single match, run 1"
M002,name1,B12,E01,E25,E20,E12,MSc,,mentee1@email.com,,B12,"select from 2, run 1"
M003,name2,A60,A46,A15,A39,E21,MSc,,mentee2@email.com,,A39,"single match, run 1"
M004,name3,E20,E18,E01,E12,E25,MSc,,mentee3@email.com,,E20,"single match, run 1"
M005,name4,E30,E01,E22,E17,E25,MSc,,mentee4@email.com,,,
...,...,...,...,...,...,...,...,...,...,...,...,...
P142,name229,B56,B19,B06,B03,B04,PhD,,mentee229@email.com,,B56,"select from 2, run 1"
P143,name230,B39,B06,B14,B21,B27,PhD,,mentee230@email.com,,B06,"single match, run 1"
P144,name231,C07,C12,C02,C11,C03,PhD,,mentee231@email.com,,C12,"single match, run 1"
P145,name232,D08,D04,B37,B08,B23,PhD,,mentee232@email.com,,D08,"select from 2, run 1"
P146,name233,B28,C11,B12,B38,B09,PhD,,mentee233@email.com,,B28,"single match, run 1"

In [29]:
## get mentor's name and email in df_mentee

df_mentee_matched = df_mentee.loc[ df_mentee['mentor'] != '' ]
df_mentee_matched = df_mentee_matched.loc[ df_mentee_matched['mentor'] != 'withdraw' ]

for indx in df_mentee_matched.index:
  mentor_id = df_mentee_matched.loc[indx, 'mentor']

  df_mentee_matched.loc[indx, 'mentor_name'] = df_mentor.loc[mentor_id, 'name']
  df_mentee_matched.loc[indx, 'mentor_email'] = df_mentor.loc[mentor_id, 'email']
df_mentee_matched.to_csv('output/mentee_matched_run1.csv', encoding='utf_8_sig')
df_mentee_matched

,name,no_1,no_2,no_3,no_4,no_5,degree,mentor_response,email,note,mentor,match_note,mentor_name,mentor_email
mentee_id,,,,,,,,,,,,,,
M001,name0,A08,A43,A49,A26,A67,MSc,,mentee0@email.com,,A49,"single match, run 1",name46,mentor46@email.com
M002,name1,B12,E01,E25,E20,E12,MSc,,mentee1@email.com,,B12,"select from 2, run 1",name75,mentor75@email.com
M003,name2,A60,A46,A15,A39,E21,MSc,,mentee2@email.com,,A39,"single match, run 1",name36,mentor36@email.com
M004,name3,E20,E18,E01,E12,E25,MSc,,mentee3@email.com,,E20,"single match, run 1",name190,mentor190@email.com
M007,name6,E25,E27,E29,E18,E01,MSc,,mentee6@email.com,,E25,"single match, run 1",name194,mentor194@email.com
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
P142,name229,B56,B19,B06,B03,B04,PhD,,mentee229@email.com,,B56,"select from 2, run 1",name117,mentor117@email.com
P143,name230,B39,B06,B14,B21,B27,PhD,,mentee230@email.com,,B06,"single match, run 1",name69,mentor69@email.com
P144,name231,C07,C12,C02,C11,C03,PhD,,mentee231@email.com,,C12,"single match, run 1",name132,mentor132@email.com
P145,name232,D08,D04,B37,B08,B23,PhD,,mentee232@email.com,,D08,"select from 2, run 1",name157,mentor157@email.com
P146,name233,B28,C11,B12,B38,B09,PhD,,mentee233@email.com,,B28,"single match, run 1",name90,mentor90@email.com

add a column with mentee names and emails

In [30]:
## read mentee data

df_mentee = pd.read_csv('input/mentee_data.csv')
df_mentee = df_mentee.fillna('')
df_mentee.set_index('name', drop=True, inplace=True)

df_mentee['mentor'] = ''
df_mentee['match_note'] = ''

df_mentee

,mentee_id,no_1,no_2,no_3,no_4,no_5,degree,mentor_response,email,note,mentor,match_note
name,,,,,,,,,,,,
name0,M001,A08,A43,A49,A26,A67,MSc,,mentee0@email.com,,,
name1,M002,B12,E01,E25,E20,E12,MSc,,mentee1@email.com,,,
name2,M003,A60,A46,A15,A39,E21,MSc,,mentee2@email.com,,,
name3,M004,E20,E18,E01,E12,E25,MSc,,mentee3@email.com,,,
name4,M005,E30,E01,E22,E17,E25,MSc,,mentee4@email.com,,,
...,...,...,...,...,...,...,...,...,...,...,...,...
name229,P142,B56,B19,B06,B03,B04,PhD,,mentee229@email.com,,,
name230,P143,B39,B06,B14,B21,B27,PhD,,mentee230@email.com,,,
name231,P144,C07,C12,C02,C11,C03,PhD,,mentee231@email.com,,,
name232,P145,D08,D04,B37,B08,B23,PhD,,mentee232@email.com,,,
name233,P146,B28,C11,B12,B38,B09,PhD,,mentee233@email.com,,,

add mentee name and email in df_mentor

In [31]:
df_mentor = pd.read_csv('output/mentor_matched_run1.csv')
df_mentor = df_mentor.fillna('')
df_mentor['mentee_info_all'] = ''

df_mentee = pd.read_csv('input/mentee_data.csv')
df_mentee.set_index('mentee_id', inplace=True)

for indx in df_mentor.index:
  list_mentees = []
  for degree in ['MSc', 'PhD']:
    list_mentees += df_mentor.loc[indx, f'mentee_{degree}'].split(' ')

  for mentee_id in list_mentees:
    if mentee_id == '': continue  # remove empty element

    df_mentor.loc[indx, 'mentee_info_all'] += df_mentee.loc[mentee_id, 'name'] + ' ' + str(df_mentee.loc[mentee_id, 'email']) + '; '

df_mentor.to_csv('output/mentee_matched_email.csv', encoding='utf_8_sig')
df_mentor

,mentor_id,name,email,review_info,capacity_PhD,capacity_MSc,assigned_PhD,assigned_MSc,MSc: no_1,MSc: no_2,...,response_reasons,mentee_MSc,mentee_PhD,no_match_MSc,no_match_PhD,raw_capacity_PhD,raw_capacity_MSc,over_capacity,verification_code2,mentee_info_all
0,A01,name0,mentor0@email.com,True,2,1,4,3,"['M017', 'M056']",,...,,M056,P077,1,1,2,2,False,aHi9gYzT5o,name55 mentee55@email.com; name164 mentee164@e...
1,A02,name1,mentor1@email.com,True,4,0,5,2,,"['M017', 'M040']",...,,,P089,0,1,6,3,False,fb6iI9tNia,name176 mentee176@email.com;
2,A05,name4,mentor4@email.com,True,1,0,1,3,['M048'],,...,,,P047,0,1,1,0,False,6o0n0Tuq8Y,name134 mentee134@email.com;
3,A06,name5,mentor5@email.com,True,4,0,6,3,,,...,,,P128,0,1,1,0,False,ZaaMn5UjvA,name215 mentee215@email.com;
4,A07,name6,mentor6@email.com,True,3,3,6,5,"['M052', 'M079']",['M022'],...,,M052 M079,P017,2,1,3,3,False,ePkuUG4pbs,name51 mentee51@email.com; name78 mentee78@ema...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,E30,name199,mentor199@email.com,True,7,0,7,3,"['M005', 'M006']",['M025'],...,,,P132,0,1,3,0,False,O7HpP62GKZ,name219 mentee219@email.com;
142,E32,name201,mentor201@email.com,True,2,0,4,2,,,...,,,P055,0,1,2,0,False,KaZORTh97E,name142 mentee142@email.com;
143,E33,name202,mentor202@email.com,True,3,2,3,7,['M010'],"['M020', 'M047', 'M050']",...,,M010 M020,P103 P049,2,2,3,2,False,eGll2suEbT,name9 mentee9@email.com; name19 mentee19@email...
144,E34,name203,mentor203@email.com,True,1,1,1,2,,,...,,M047,,1,0,2,0,True,kr6hpvp9mx,name46 mentee46@email.com;
145,E35,name204,mentor204@email.com,True,1,0,4,3,['M047'],,...,,,P037,0,1,1,0,False,XnajRvRyci,name124 mentee124@email.com;